@font-face {
    font-family: "el-messiri";
    src: url(../fonts/el-messiri/elmessiri-regular.otf);
}

body {
    background: lightgoldenrodyellow;
    font-family: el-messiri;
    padding: 0;
    margin: 0;
}

header {
    background: rgba(100, 100, 100, 0.5);
    border-bottom: 2px solid #555;
}

.header-width {
    width: 80%;
    margin: auto;
}

.logo {
    float: left;
    /*display: inline-block;*/
}

.top-header {
    padding: 0.7em 2em;
    background: #555;
    color: whitesmoke;
    text-align: right;
}

.phone {
    padding-left: 1em;
}

.bottom-header {
    display: table;
    height: 130px;
}

.bottom-header a {
    width: 100px;
    display: table-cell;
    /*float: left;*/
    padding: 2em;
    text-align: center;
    /*line-height: 130px;*/
    vertical-align: middle;
    /*background: rosybrown;*/
    color: #555;
    text-decoration: none;
}

.bottom-header a:hover {
    /*transition-delay: 2s;*/
    transition-duration: 1s;
    background: #555;
    color: whitesmoke;
}